<%- include("header") %>
<div class="container d-flex align-items-center justify-content-center flex-column">
  <h1 class="m-5 p-5">Error rendering, please try again</h1>
  <button class="retro" onclick="window.location.href = '/';">Generate</button>
</div>
<%- include("footer") %>
