<div
  class="modal fade"
  id="WordleModal"
  tabindex="-1"
  aria-labelledby="WordleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h1 class="modal-title display-5" id="WordleModalLabel">How to use</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          This bot will attempt to complete the daily Wordle using
          <a
            data-fr-linked="true"
            href="https://www.nytimes.com/games/wordle/index.html"
            >the official website</a
          >
          using a server-side headless Chromium browser. This will immediately start once you exit this popup.
        </p>
        <p>
          If we discovered the daily Wordle, it will capture a screenshot and
          display; otherwise, it will return an error. Please wait up to 20
          seconds before attempting another solution.
        </p>
        <p class="text-center" style="color: white">
          <strong >
            <span style="background: #6aaa64"><span class="p-3">H</span></span>
            <span style="background: #6aaa64"><span class="p-3">A</span></span>
            <span style="background: #c9b458"><span class="p-3">P</span></span>
            <span style="background: #6aaa64"><span class="p-3">P</span></span>
            <span style="background: #787c7e"><span class="p-3">Y</span></span>
            <br>
            <br>
            <span style="background: #6aaa64"><span class="p-3">W</span></span>
            <span style="background: #6aaa64"><span class="p-3">O</span></span>
            <span style="background: #6aaa64"><span class="p-3">R</span></span>
            <span style="background: #c9b458"><span class="p-3">D</span></span>
            <span style="background: #787c7e"><span class="p-3">L</span></span>
            <span style="background: #c9b458"><span class="p-3">I</span></span>
            <span style="background: #c9b458"><span class="p-3">N</span></span>
            <span style="background: #6aaa64"><span class="p-3">G</span></span>
            <span style="background: #787c7e"><span class="p-3">!</span></span>
          </strong>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="retro" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
