<div
  class="modal fade"
  id="WordleModal"
  tabindex="-1"
  aria-labelledby="WordleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h1 class="modal-title display-5" id="WordleModalLabel">How to use</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          This bot will attempt to complete the daily Wordle using
          <a
            data-fr-linked="true"
            href="https://www.nytimes.com/games/wordle/index.html"
            >the official website</a
          >
          with a server-side headless Chromium browser. This will immediately start once you exit this popup.
        </p>
        <p>
          If we discovered the daily Wordle, it will capture a screenshot and
          display; otherwise, it will return an error. Please wait up to 20
          seconds before attempting another solution.
        </p>
        <p class="text-center" style="color: white">
          <strong >
            <span class="px-2 py-1" style="background: #6aaa64">H</span>
            <span class="px-2 py-1" style="background: #6aaa64">A</span>
            <span class="px-2 py-1" style="background: #c9b458">P</span>
            <span class="px-2 py-1" style="background: #6aaa64">P</span>
            <span class="px-2 py-1" style="background: #787c7e">Y</span>
            <br>
            <br>
            <span class="px-2 py-1" style="background: #6aaa64">W</span>
            <span class="px-2 py-1" style="background: #6aaa64">O</span>
            <span class="px-2 py-1" style="background: #6aaa64">R</span>
            <span class="px-2 py-1" style="background: #c9b458">D</span>
            <span class="px-2 py-1" style="background: #787c7e">L</span>
            <span class="px-2 py-1" style="background: #c9b458">I</span>
            <span class="px-2 py-1" style="background: #c9b458">N</span>
            <span class="px-2 py-1" style="background: #6aaa64">G</span>
            <span class="px-2 py-1" style="background: #787c7e">!</span>
          </strong>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="retro" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
