<%- include("header") %>
<div class="container d-flex align-items-center justify-content-center flex-column">
  <img class="img-fluid m-4" src="static/results.png" id="results" />
  <button class="retro" onclick="window.location.href = '/';">Generate</button>
</div>
<%- include("footer") %>
