<%- include("partials/header") %>
<div class="container d-flex align-items-center justify-content-center flex-column">
  <%- include("partials/intro") %>
  <img class="img-fluid m-4" id="results" />
  <h1 id="status" class="text-center display-6"></h1>
  <button class="retro mt-4">GENERATE SOLUTION</button>
</div>
<%- include("partials/footer") %>
